<div class="row">
  <div class="col-lg-12">
    <h1> Detalhes do Cliente </h1>
      <p id="notice"><%= notice %></p>
      <br><br>

      <div class="card">
          <table class="table">
            <tr>
              <td><b>Nome:</b></td>
              <td><%= @client.name %></td>
            </tr>
            <tr>
              <td><b>Preço:</b></td>
              <td><%= @client.date %></td>
            </tr>
          </table>
      </div>
      <br><br>

    

      <%= link_to 'Voltar', clients_path, class:'btn btn-primary' %>
      <%= link_to 'Adicionar Novo Cliente', new_client_path(@client), class:'btn btn-primary' %>
  </div>
</div>

